<header class="site-header">

<div class="wrapper">

<a class="site-title" rel="author" href="{{ "/" | relative_url }}">

<!-- ================================= -->
<!-- LOGO IMAGE                        -->
<!-- MODIFY: change file if needed     -->
<!-- ================================= -->

<img 
src="{{ '/assets/sbmershedpress.png' | relative_url }}"
class="site-logo"
alt="SB Press">

<!-- ================================= -->
<!-- SITE NAME                         -->
<!-- MODIFY: change text if needed     -->
<!-- ================================= -->

<span class="site-name">
S B Mershed Press
</span>

</a>


<nav class="site-nav">

{% for path in site.header_pages %}
{% assign page = site.pages | where: "path", path | first %}

<a class="page-link" href="{{ page.url | relative_url }}">
{{ page.title }}
</a>

{% endfor %}

</nav>

</div>

</header>
